<!DOCTYPE html>
<html class="dark:bg-custom-radial bg-gradient-to-bl from-blue-200 to-rose-200 lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <!-- Include the partial navbar below -->
    <%- include('partials/navbar', {page: '/404'}) %>
    
    <div class="container">
        
        <div class="hero min-h-screen">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">404</h1>
                    <p class="mt-10 text-7xl"><%= message %></p>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
    
</body>
</html>