<!DOCTYPE html>
<html class="dark:bg-custom-radial bg-gradient-to-bl from-blue-200 to-rose-200 lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-base-100 dark:bg-custom-radial bg-gradient-to-bl from-blue-200 to-rose-200">
        <div class="flex-1 logo ">
            <a href="/" class="btn btn-ghost logo lg:text-3.5xl md:text-3xl sm:text-sm font-bold">Anthony Lego Collection</a>
        </div>
        <div class="flex-none z-50">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about" class="navLink lg:text-2xl md:text-xl font-bold logo">About</a></li>
                <li>
                    <details>
                        <summary class="navLink lg:text-2xl md:text-xl font-bold logo">
                            Theme
                        </summary>
                        <ul class="p-2 bg-base-100 rounded-t-none">
                            <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=Books">Books</a></li>
                            <li><a href="/lego/sets?theme=Playhouse">Playhouse</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container">

        <div class="hero min-h-screen">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold text-9xl">404</h1>
                <p class="mt-10 text-7xl">Page cannot be found!</p>
              </div>
            </div>
          </div>

    </div>

    
    
    
</body>
</html>